@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Header CSS properties */

.header li {
    list-style: none;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header p {
    margin: 10px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    flex: auto;
}

/* Hero CSS properties */

.hero {
    display: flex;
    flex: 1 1 30rem;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    gap: 4rem;

}

.hero_left {
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.main_text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

.sub_text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
    flex-wrap: wrap;
}

.hero_left button {
    display: flex;
    border-radius: 0.3rem;
    border: none;
    width: 7rem;
    padding: 0.4rem 0.8rem;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    margin-top: 0.5rem;
}

.hero img {
    max-width: auto;
    max-height: 250px;
}

/* Information CSS properties */

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5%;
}

.information_header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.images {
    display: flex;
}

.image_container {
    width: 12.5rem;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image_container img {
    max-width: 8rem;
}

.image_container p {
    font-size: 18px;
    color: #696969;
    width: 10.5rem;
}

.icon_container {
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Quote CSS Properties */

.quote_container {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    padding: 50px;
}

.quote {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    width: 800px;
}

.quote p {
    margin: 0px;
}

.author {
    text-align:right
}

.author p {
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
}